* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: purple;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

a:hover {
  cursor: pointer;
  opacity: 1;
}

.menu {
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-navbar h2 {
}

.main-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul > li {
  margin: 0 15px;
  position: relative;
}

.dropDown-menu {
  padding: 10px;
  border-radius: 5px;
  background-color: #FFF;
  margin-top: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.dropDown-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dropDown-menu ul > li {
  margin: 5px 0;
}
