* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

a:hover {
  cursor: pointer;
  opacity: 1;
}

.menu {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar {
  padding: 20px;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none;
}


.logo {
  width: 10%;
  text-align: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul > li {
  margin: 0 15px;
  position: relative;
}

.dropDown-menu {
  padding: 10px;
  border-radius: 5px;
  background-color: #FFF;
  margin-top: 25px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.dropDown-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dropDown-menu ul > li {
  margin: 5px 0;
}

.inactive {
  display: none;
}


@media all and (max-width: 900px) {

  .right-list, .left-list {
    display: flex;
    flex-direction: column;
  }

  .main-navbar ul {
    display: none;
  }

  .burger-menu {
    display: block;
    margin: 0 auto;
  }

  .burger-menu i {
    font-size: 1.6em;
  }

  .inactive {
    display: block;
  }
}
